// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Register
$black-color : #222;
$blue-color : #6dabe4;
$grey-light: #999;